body {
  margin: 0;
}

header {
  background-color: rgb(123, 39, 201);
  padding: 8px;

  position: sticky;
  top: 0;

  color: white;
}

header > div {
  max-width: 800px;
  margin: auto;
}

main {
  max-width: 800px;
  margin: auto;

  padding: 8px;
}
