body {
  margin: 0;
}

header {
  background-color: rgb(123, 39, 201);
  padding: 8px;

  position: sticky;
  top: 0;

  color: white;
  transition: opacity 300ms ease-in-out;
}

header.hidden {
  opacity: 0;
}

header > div {
  max-width: 800px;
  margin: auto;

  font-size: 2rem;
  text-align: center;
}

main {
  max-width: 800px;
  margin: auto;

  padding: 8px;
}
