body {
  font-family: sans-serif;

  max-width: 800px;
  margin: auto;
}

.main-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;

  padding: 8px;
}

.main-header > .icon {
  font-size: 2rem;
}

.main-header > h1 {
  font-size: 1.5rem;
}

article {
  padding: 8px;
}
