body {
  font-family: sans-serif;

  max-width: 800px;
  margin: auto;
}

.main-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;

  padding: 8px;

  position: sticky;
  top: 0;
}

.main-header > .icon {
  font-size: 2rem;
}

.main-header > h1 {
  font-size: 1.5rem;
}

article {
  padding: 8px;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: white; /* Assuming white background for visibility */
  z-index: 1000; /* Ensure it stays on top */
}
